header{
    background-color: fffff;
    color:#1693A5;
    padding: 20px;
    margin-bottom: 40px; 
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .logo h2 {
    margin: 0;
  }
  .centerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
    min-height: calc(100vh - 60px);
    flex-direction:column; /*stck content vertically */
  }
  
  .contentBox {
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 600px;
    text-align: center;
  }
  
  .contentBox h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contentBox p {
    margin: 0;
  }
  /* Existing CSS styles for centerBox, contentBox, and other elements... */

  .projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .projectBox,
  .projectBox1,
  .projectBox2,
  .projectBox3,
  .projectBox4,
  .projectBox5 {
    text-align: center;
    max-width: 300px; /* Adjust the width of individual project boxes */
    margin: 10px; /* Add some margin for spacing between the sections */
  }

 
.projectBox h3,
.projectBox1 h3,
.projectBox2 h3,
.projectBox3 h3, 
.projectBox4 h3,
.projectBox5 h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.projectBox div,
.projectBox1 div,
.projectBox2 div,
.projectBox3 div,
.projectBox4 div,
.projectBox5 div {
  margin-top: 10px;
}

.projectBox img,
.projectBox1 img,
.projectBox2 img,
.projectBox3 img, 
.projectBox4 img,
.projectBox5 img {
  max-width: 100%;
}